@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input[type='radio'] {
  position: absolute;
  height: 50px;
  right: -45%;
  top: 0px;
  opacity: 1;
  cursor: text;
  display: none;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-bottom: 2px solid black;
}

form input:focus {
  border-color: var(--primary-color-darker);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.container .formulario .div-user, .div-email, .div-confemail, .div-senha {
  position: relative;
  margin-top: 10px;
}

.container .formulario label {
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: 10px;
  transition: all .3s ease;
  cursor: text;
  opacity: .8;
}

#radioUser:checked+label, #radioMail:checked+label,
#radioMailRep:checked+label, #radioPass:checked+label {
  position: absolute;
  opacity: .4;
  top: -15px;
  font-size: .9em;
  color: var(--primary-color-darker);
  visibility: visible;
}

.container .formulario input:focus+label {
  position: absolute;
  opacity: .4;
  top: -15px;
  font-size: .9em;
  color: var(--primary-color-darker);
  visibility: visible;
}
